/** past */

.past {
  cursor: not-allowed;
  color: #cfcfcf;
  background-color: #f7f8fb;
}

/**
        * Reminders
        *
        */
.reminder_label {
  width: 100%;
  padding: 3px;

  background-color: #efefef;
}

.reminder_label .reminder_label_work {
  background-color: lightcoral;
}

.reminder_label .reminder_label_calendar {
  background-color: lightgreen;
}
