:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* -------------------------------- Calendar -------------------------------- */

/**
 * Base
 *
 */
body {
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

/**
* components/CalendarNav
*
*/
.calendar__nav {
  display: flex;

  padding: 2rem 1rem;

  justify-content: center;
  align-items: center;
}

.calendar__nav h2 {
  font-size: 1.6rem;
  font-weight: 100;
  width: 50%;
  text-align: center;
}
.calendar__nav button {
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  outline: 0;
}

/**
* components/CalendarHeader
*
*/
.calendar__header {
  display: flex;
}

.calendar__header div {
  flex: 1;
}

/**
* Week
*
*/
.week {
  display: flex;
}

/**
* Days of the week
*
*/
.week__day {
  position: relative;

  padding: 1rem;

  text-align: center;

  flex: 1;
}

.week__day {
  border-radius: 0;
}

.week__day--today {
  color: white;
  background-color: #3e3e3e;
}

.week__day--weekend {
  color: #3e3e3e;
  background-color: #f3f3f3;
}

.week__day--past {
  cursor: not-allowed;

  color: #cfcfcf;
  background-color: #f7f8fb;
}

.week__day--selected {
  cursor: pointer;
}

/**
* Reminders
*
*/
.reminder__label {
  width: 100%;
  padding: 3px;

  background-color: #efefef;
}

.reminder__label.reminder__label--work {
  background-color: lightcoral;
}

.reminder__label.reminder__label--calendar {
  background-color: lightgreen;
}
